Debug/
Release/
x64/
x86/
ARM/
ARM64/

[Db]ebug/
[Rr]elease/
[Cc]checkout/
[Bb]uild/

*.vcxproj.user
*.sqlproj.user
*.user
*.suo
*.userosscache
*.sln.docstates

*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.gch
*.pch
*.ipch
*.iobj
*.ipdb
*.log
*.recipe

*.sdf
*.opensdf
*.vc.db
*.vc.opendb

*.bak
*.tmp

Thumbs.db
.DS_Store